* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("media/players_back.png") center/cover no-repeat;
  min-height: 100vh;
  font-family: "Garamond", serif;
  color: #cab168;
  position: relative;
}

.header {
  left: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  padding-left: 80px;
}

.rat_flag {
  height: 330px;
  display: flex;
}

.show_match {
  margin-top: 50px;
  margin-left: -35px;
  height: 250px;
  display: flex;
}

.small_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: fit-content;
  justify-content: flex-end;
  align-items: flex-end;
  row-gap: 0px;
  column-gap: 8px;
  margin-top: 60px;
  padding-left: 205px;
}

.big_grid {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  max-width: fit-content;
  row-gap: 0px;
  column-gap: 8px;
  padding-left: 80px;
}

.card {
  width: 200px;
  height: 270px;
  perspective: 1000px;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card.flipped .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card_img {
  height: 270px;
  perspective: 1000px;
}

.card-back {
  transform: rotateY(180deg);
}
